@font-face {font-family: "BlissPro ExtraLight";src: url("../fonts/BlissPro-ExtraLight.otf");}
@font-face {font-family: "BlissPro Regular";src: url("../fonts/BlissPro-Regular.otf");}
@font-face {font-family: "BlissPro Bold";src: url("../fonts/BlissPro-Bold.otf");}
@font-face {font-family: "BlissPro ExtraBold";src: url("../fonts/BlissPro-ExtraBold.otf");}
@font-face {font-family: "BlissPro Heavy";src: url("../fonts/BlissPro-Heavy.otf");}
@font-face {font-family: "BlissPro Italic";src: url("../fonts/BlissPro-Italic.otf");}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "BlissPro Regular", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}
a, a:hover, a:focus, a:active {
    outline: none;
}
button, button::-moz-focus-inner, input, input::-moz-focus-inner {
    border: none;
}
button, input[type="submit"] {
    cursor: pointer;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input::-moz-placeholder, textarea::-moz-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:-moz-placeholder, textarea:-moz-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent}

ul li {
    display: inline-block;
    vertical-align: middle;
}

.clearfix {
    clear: both;
}

body {
    width: 100%;
    background: #ffffff;
}

.content-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.sub-title {
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    color: #b2b2b2;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    display: block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.text {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 24px;
    color: #000000;
}

.small-text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    color: #808080;
    text-align: justify;
}

.smooth-line {
    width: 130px;
    border: 4px solid #ffcc00;
    margin: 20px auto;
}
.wave-line {
    width: 130px;
    height: 23px;
    background: transparent url('../images/sprite-wave-line.png') no-repeat left;
    background-size: cover;
    margin: 20px auto;
}

/***** header ******/
.header .content-block {
    position: relative;
    padding: 1.5% 0;
    text-align: center;
}
.header-logo {
    display: inline-block;
    width: 288px;
    padding-top: 61px;
    background: url('../images/header-logo.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.header .vertical-line {
    display: inline-block;
    height: 70px;
    border-left: 1px solid #dddddd;
    vertical-align: middle;
    margin: 0 1.5%;
}
.promo-text {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    text-align: left;
}
.promo-text .text, .phone-number .text,
.promo-text a, .phone-number a {
    display: inline-block;
    font-family: "BlissPro ExtraLight", sans-serif;
    font-size: 18px;
    width: auto;
}
.phone-number {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    float: right;
    text-align: left;
    position: relative;
}
.phone-number .number {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 36px;
    line-height: 42px;
}
.get-callback {
    width: 30%;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffff00;
    background: linear-gradient(to bottom, #ffff00, #ffcd00);
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
}
.header .get-callback {
    position: absolute;
    right: 0;
    bottom: -22px;
    border: none;
}
.get-callback:hover {
    background: #ffcc00;
    background: linear-gradient(to bottom, #ffcc00, #fffd00);
    border: none;
}
.get-callback:active {
    background: #ffcc00;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}
.header-hint {
    display: none;
    position: absolute;
    top: 60px;
    right: -10px;
    background: transparent url('../images/header-hint.png') no-repeat;
    background-size: 100% 100%;
    padding: 45px 30px 25px;
    z-index: 10;
}
.header-hint .number {
    font-family: "BlissPro Bold", sans-serif;
    line-height: 36px;
    color: #000000;
    width: 320px;
}
.header-hint .number span {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #b2b2b2;
    margin-right: 10px;
}
.header-hint>span {
    display: block;
    margin-top: 10px;
    width: 320px;
}

/***** block-timer ******/
.block-first {
    background: url('../images/background-1.png') no-repeat;
    background-size: cover;
    padding: 5% 0;
}
.block-first .block-text {
    float: left;
    text-align: left;
}
.block-first .title, .block-first .text {
    width: 550px;
    color: #ffffff;
}
.block-first .title {
    font-size: 62px;
    line-height: 42px;
    margin-bottom: 40px;
}
.block-first .title .underlined {
    display: inline-block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 62px;
    line-height: 48px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.block-first .title .underlined .decor-line {
    position: absolute;
    width: 100%;
    padding-top: 10%;
    background: url('../images/decor-line.png') no-repeat;
    background-size: cover;
    left: 0;
    bottom: -34px;
}
.block-first .text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 32px;
    line-height: 32px;
}
.block-first .block-timer {
    width: 350px;
    float: right;
    text-align: center;
    padding: 1% 0;
    background: rgba(255, 255, 255, 0.2);
}
.block-first .block-timer .title {
    display: inline-block;
    width: auto;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
.block-first .timer {
    font-family: "BlissPro Regular", sans-serif;
    margin-bottom: 3%;
}
.block-first .timer .etTitle {
    display: none;
}
.block-first .block-timer .timer .etNumber,
.block-first .block-timer .timer .etSign {
    font-family: "BlissPro Regular", sans-serif;
}
.block-first .to-run {
    display: inline-block;
    width: 90%;
    background: #cc3300;
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    margin: 0 0 15px 0;
    border: none;
    outline: none;
}
.block-first .to-run:hover {
    background: #b52e00;
    border: none;
    outline: none;
}
.block-first .to-run:active {
    background: #990000;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

/***** block-for-whom ******/
.block-for-whom {
    padding: 5% 0;
}
.block-for-whom .smooth-line, .block-price-components .smooth-line,
.block-price .wave-line, .block-site-control .smooth-line {
    margin-left: 0;
}
.block-for-whom .column {
    width: 680px;
    float: left;
    margin-top: 5%;
}
.block-for-whom .small-text {
    margin: 3% 0;
}
.block-for-whom ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ffcc00;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    background: #ffcc00;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.block-for-whom ul {}
.block-for-whom ul li a:hover {
    color: #ffcc00;
    background: #ffffff;
}
.block-for-whom ul li:nth-child(1) a:active {color: #ffffff;background: #003399;border: 2px solid #003399;}
.block-for-whom ul li:nth-child(2) a:active {color: #ffffff;background: #336699;border: 2px solid #336699;}
.block-for-whom ul li:nth-child(3) a:active {color: #ffffff;background: #ff7d52;border: 2px solid #ff7d52;}
.block-for-whom ul li:nth-child(4) a:active {color: #ffffff;background: #00ccff;border: 2px solid #00ccff;}

.form-order {
    width: 345px;
    float: right;
    border: 8px solid #ffcc00;
    padding: 20px 0;
}
.form-order .title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    margin-left: 7.5%;
}
.form-order .text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 7.5%;
}
.field-wrap {
    display: block;
    position: relative;
    width: 85%;
    height: 45px;
    margin: 0 auto 15px;
}
.field-wrap .fa {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top : 10px;
    color: #b3b3b3;
}
.field-wrap .fa-mobile {
    font-size: 25px;
    left: 18px;
}
.form-field {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 40px;
    padding-left: 10px;
    background: #f7f7f7;
    border-left: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
}
.form-submit {
    display: block;
    margin: 0 auto 15px;
    width: 85%;
    background: #cc3300;
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
.form-submit:hover {
    background: #b52e00;
    border: none;
    outline: none;
}
.form-submit:active {
    background: #990000;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
.form-order .small-text, .form-order a {
    display: inline-block;
    width: auto;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
}
.form-order a {
    margin: 0 0 0 12%;
}
.form-order .fa-lock {
    margin-left: 7.5%;
}

/***** block-price *****/
.block-price {
    height: 600px;
}
.block-price .left-column {
    float: left;
    width: 40%;
    background: #ffcc00 url('../images/background-2.png') no-repeat right center;
    background-size: auto 75%;
    height: 100%;
}
.block-price .right-column {
    float: right;
    width: 60%;
    background: #333333;
    height: 100%;
    padding: 5% 0 0 2.5%;
}
.block-price ul {display: inline-block;vertical-align: bottom;}
.block-price .cost-value {
    width: 550px;
}
.block-price .cost-value li {
    display: none;
    font-family: "BlissPro Bold", sans-serif;
    color: #ffffff;
    font-size: 108px;
    line-height: 108px;
}
.block-price .cost-value .active {
    display: inline-block;
}
.block-price .cost-currency li {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #ffcc00;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
.block-price .icon-hrivna {
    width: 100%;
    height: 100%;
    background: transparent url('../images/UAH.png') no-repeat center;
    background-size: auto 70%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.block-price .cost-currency li:hover {
    background: #c39400;
}
.block-price .cost-currency li:active {
    background: #af7f00;
}
.block-price .cost-currency .active {
    display: none;
}
.block-price .small-text {
    width: 600px;
    color: #ffffff;
    margin-bottom: 20px;
}
.send-order, .another-rates, .show-demo {
    background: #cc3300;
    margin-right: 20px;
    width: 275px;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    border: none;
    outline: none;
}
.send-order:hover, .show-demo:hover {
    background: #b52e00;
    border: none;
    outline: none;
}
.send-order:active, .show-demo:active {
    background: #669933;
    border: none;
    outline: none;
}
.another-rates {
    background: transparent;
    border: 3px solid #ffcc00;
    line-height: 54px;
}
.another-rates:hover {
    border-radius: 30px;
}
.another-rates:active {
    border: 3px solid #ffcc00;
    background: #ffcc00;
}

/**** block-price-components ****/
.block-price-components .left-column {
    float: right;
    width: 700px;
    height: 100%;
    padding: 5% 2.5% 0  0;
}
.block-price-components .title {
    margin: 20px 0 15px;
}
.block-price-components ul {
    margin-top: 20px;
}
.accordion li {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.1);
    position: relative;
}
.block-price-components .accordion li {
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}
.accordion li:first-child .element-content {
    display: block;
}
.accordion .element-header {
    margin: 20px 0 10px;
    cursor: pointer;
}
.accordion .element-content {
    display: none;
}
.accordion .mark {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 26px;
    height: 15px;
    background: transparent url('../images/sprite-arrows-v.png') no-repeat right;
    background-size: cover;
}
.accordion .active .mark {
    background: transparent url('../images/sprite-arrows-v.png') no-repeat left;
    background-size: cover;
}
.ask-question {
    background: transparent;
    border: 3px solid #ffcc00;
    width: 275px;
    height: 60px;
    line-height: 54px;
    margin-top: 30px;
    vertical-align: middle;
    margin-bottom: 30px;
    color: #000000;
}
.ask-question:hover {
    background: #ffcc00;
    color: #ffffff;
}
.ask-question:active {
    background: #ffcc00;
    color: #000000;
}

.block-price-components .right-column {
    float: right;
    width: 40%;
    height: 950px;
    background: transparent url('../images/background-3.png') no-repeat left bottom;
    background-size: auto 80%;
}

/***** block-site-control *******/
.block-site-control {
    background: #1a1a1a;
}
.block-site-control .left-column {
    float: left;
    width: 40%;
    height: 1000px;
    background: transparent url('../images/background-4.png') no-repeat right center;
    background-size: auto 75%;
}
.block-site-control .right-column {
    float: left;
    width: 720px;
    padding: 5% 2.5% 0  0;
    margin-left: 5%;
}
.block-site-control .title, .block-site-control .text, .block-site-control .small-text {
    color: #ffffff;
}
.block-site-control .small-text {
    font-family: "Bliss Pro ExtraLight", sans-serif;
    line-height: 22px;
}
.block-site-control ul li:first-child .element-content {
    display: none;
}
.block-site-control .show-demo, .block-site-control .ask-question {
    margin: 30px 20px 0 0;
    color: #ffffff;
}
.block-site-control .ask-question:active {
    background: #ffcc00;
    color: #000000;
}
.block-site-control .icon-opencart {
    display: inline-block;
    width: 200px;
    height: 37px;
    background: transparent url('../images/opencart-logo.png') no-repeat;
    background-size: cover;
    margin-top: 40px;
    vertical-align: top;
    margin-bottom: 30px;
}
.block-site-control .right-column>.text{
    display: inline-block;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    vertical-align: top;
    line-height: 37px;
    margin-top: 40px;
}
.block-site-control .right-column>.text a {
    font-size: 18px;
    color: #336699;
}

/**** block-get-gift *****/
.block-get-gift {
    text-align: center;
    padding: 5% 0;
}
.block-get-gift .wave-line {
    margin: 20px auto;
}
.block-get-gift ul {
    margin-top: 7.5%;
}
.block-get-gift ul li {
    width: 330px;
    vertical-align: top;
    margin: 30px 25px;
}
.block-get-gift .icon-gift {
    width: 150px;
    height: 130px;
    margin: auto;
    background: transparent url('../images/sprite-icons.png') no-repeat 37.5% 0;
    background-size: cover;
    vertical-align: top;
}
.block-get-gift ul li:nth-child(2) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 62.7% 0;background-size: cover;}
.block-get-gift ul li:nth-child(3) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 87.3% 0;background-size: cover;}
.block-get-gift ul li:nth-child(4) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 49.8% 0;background-size: cover;}
.block-get-gift ul li:nth-child(5) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 75.05% 0;background-size: cover;}
.block-get-gift ul li:nth-child(6) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat right;background-size: cover;}
.block-get-gift .smooth-line {
    margin: 20px auto 30px;
    width: 70px;
}
.block-get-gift .text {
    height: 50px;
}
.block-get-gift .small-text {
    text-align: left;
}

/***** block-make-order ****/
.block-make-order {
    padding: 5% 0;
    background: #000000 linear-gradient(white 90%, transparent 10%);
    background-size: 20px 20px;
}
.block-make-order .form-order {
    float: none;
    background: #ffffff;
    width: 540px;
    text-align: center;
    margin: 0 auto;
    border: 20px solid #ffcc00;
    padding: 30px 0;
}
.block-make-order .form-order .title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.block-make-order .form-order .wave-line {
    margin: 25px auto;
}
.block-make-order .field-wrap {
    width: 80%;
    height: 60px;
    margin-bottom: 25px;
}
.block-make-order .field-wrap .fa {
    font-size: 28px;
    left: 25px;
    top : 14px;
}
.block-make-order .field-wrap .fa-mobile {
    font-size: 36px;
    left: 30px;
}
.block-make-order .form-field {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding-left: 10%;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    font-size: 20px;
}
.block-make-order .form-field::-webkit-input-placeholder {font-size: 20px;}
.block-make-order .form-field::-moz-placeholder {font-size: 20px;}
.block-make-order .form-field:-moz-placeholder {font-size: 20px;}
.block-make-order .form-field:-ms-input-placeholder {font-size: 20px;}

.block-make-order .form-submit {
    margin: 0 auto 25px;
    width: 80%;
    height: 60px;
}

/***** block-alternatives *****/
.block-alternatives {
    padding: 5% 0;
    text-align: center;
}
.block-alternatives ul {
    margin-top: 7.5%;
}
.block-alternatives ul li {
    width: 330px;
    vertical-align: top;
    margin: 30px 25px;
}
.block-alternatives .icon-alternatives {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: auto;
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat -1.75% center;
    background-size: auto 60%;
}
.block-alternatives ul li:nth-child(2) .icon-alternatives {
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat 11% center;
    background-size: auto 60%;
}
.block-alternatives ul li:nth-child(3) .icon-alternatives {
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat 24% center;
    background-size: auto 60%;
}
.block-alternatives .smooth-line {
    margin: 30px auto;
    width: 70px;
}
.block-alternatives .text {
    height: 50px;
    margin: 25px 0 35px;
}
.block-alternatives .small-text p {
    overflow: hidden;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
    text-align: justify;
}
.icon-show-more {
    width: 32px;
    height: 30px;
    background: transparent url('../images/sprite-arrows-circle.png') no-repeat left center;
    background-size: cover;
    cursor: pointer;
    margin: 30px auto 0;
}
.opened-block {
    background: transparent url('../images/sprite-arrows-circle.png') no-repeat right center;
    background-size: cover;
}

/***** block-steps ******/
.block-steps {
    background: #ffcc00;
    text-align: center;
    padding: 5% 0 0;
}
.block-steps .sub-title {
    color: #ffffff;
}
.block-steps .content-block>.wave-line {
    background: transparent url('../images/sprite-wave-line.png') no-repeat right;
    background-size: cover;
}
.block-steps ul {
    margin-top: 5%;
}
.block-steps ul li {
    display: inline-block;
    width: 300px;
    margin: 0 10px 20px;
    background: #ffffff;
    vertical-align: top;
}
.block-steps ul li:nth-child(2) {margin-top: 100px;}
.block-steps ul li:nth-child(3) {margin-top: 200px;}
.block-steps ul li:nth-child(4) {margin-top: -200px;}
.block-steps ul li:nth-child(5) {margin-top: -100px;}
.block-steps .step-number {
    font-family: "BlissPro Heavy", sans-serif;
    font-size: 184px;
    line-height: 184px;
}
.block-steps .text {
    display: inline-block;
    width: 80%;
    height: 50px;
}
.block-steps .small-text {
    display: inline-block;
    width: 80%;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.block-steps .triangle {
    position: relative;
    width: 100%;
    height: 400px;
    background: #ffcc00 linear-gradient(11deg, #ffffff 0, #ffffff 50%, transparent 50%, transparent 100%);
}
.block-steps .send-order {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    bottom: 170px;
    margin: auto;
}

/***** block-comments ******/
.block-comments {
    padding: 5% 0;
    text-align: center;
}
.block-comments .wave-line {
    margin-bottom: 60px;
}
.comments-slider {
    display: block;
    width: 80%;
    margin: 0 auto;
    list-style: none;
}
.comments-slide {
    display: none;
}
.comments-slide:first-child {
    display: block;
}
.block-comments .slick-dots li button {
    width: 50px;
    height: 50px;
    border: 2px solid #e5e5e5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin: 0 5px;
    color: #e5e5e5;
}
.block-comments .slick-dots .slick-active button {
    border: 2px solid #ffcc00;
}
.block-comments .slick-dots li button:hover {
    border: 2px solid #ffcc00;
}
.block-comments .slick-dots li button:active {
    border: 2px solid #ffcc00;
    background: #ffcc00;
    color: #ffcc00;
}
.block-comments ul li .client-name-link {
    display: block;
    width: 300px;
    margin-left: 50px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.block-comments .client-name-link .client-name, .block-comments .client-name-link a {
    display: block;
    text-align: right;
}
.block-comments .small-text {
    border: 4px solid #e5e5e5;
    padding: 80px 40px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    min-height: 300px;
    margin: 0 40px 30px;
}
.block-comments .small-text p {
    font-family: "BlissPro Italic", sans-serif;
    font-size: 18px;
}
.small-text .invisible-part {
    display: none;
}
.block-comments ul li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    border: 20px solid #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -120px;
}
.start-quote {
    position: absolute;
    left: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    background: #ffffff url('../images/sprite-2.png') no-repeat left center;
    background-size: auto 80%;
}
.finish-quote {
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background: #ffffff url('../images/sprite-2.png') no-repeat right center;
    background-size: auto 80%;
}

/***** block-why-we *****/
.block-why-we {
    background: #000000 url('../images/background-basket.png') no-repeat 20% 35%;
    background-size: auto 38%;
    padding: 5% 0;
}
.block-why-we .company-name {
    display: inline-block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 103px;
    color: #ffffff;
    line-height: 75px;
    vertical-align: top;
}
.block-why-we .company-name:after {
    content: '\2014';
    margin-left: 20px;
}
.block-why-we .promo .small-text {
    display: inline-block;
    width: 600px;
    margin: 10px 0 25px 20px;
    color: #cccccc;
}
.block-why-we ul {
    text-align: center;
}
.block-why-we ul li {
    width: 260px;
    margin: 0 10px;
    text-align: left;
    vertical-align: top;
}
.block-why-we ul li .text {
    color: #ffffff;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 80px;
}
.block-why-we ul li .small-text {
    color: #ffffff;
    width: 90%;
    text-align: left;
}
.block-why-we ul li .smooth-line {
    display: block;
    margin: 20px 0;
    width: 100px;
}
/**** block-portfolio ****/
.block-portfolio {
    padding: 5% 0;
    text-align: center;
}
.block-portfolio .content-block {
    position: relative;
}
.portfolio-slick {
    display: block;
    width: 600px;
    margin: 0 auto;
}
.block-portfolio .wave-line {
    margin: 20px auto 60px;
}
.portfolio-item {
    width: 600px;
    padding-top: 600px;
    margin: auto;
}
.portfolio-control {
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.portfolio-control:hover {
    border: 2px solid #ffcc00;
}
.left-control:active {
    border: 2px solid #ffcc00;
    background: #ffcc00 url('../images/sprite-arrows-black.png') no-repeat 15px center;
    background-size: auto 50%;
}
.right-control:active {
    border: 2px solid #ffcc00;
    background: #ffcc00 url('../images/sprite-arrows-black.png') no-repeat -20px center;
    background-size: auto 50%;
}
.left-control {
    background: url('../images/sprite-arrows-yellow.png') no-repeat 15px center;
    background-size: auto 50%;
    left: 100px;
}
.right-control {
    background: url('../images/sprite-arrows-yellow.png') no-repeat -20px center;
    background-size: auto 50%;
    right: 100px;
}
.portfolio-slick .item-1 {
    background: url('../images/portfolio-1.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-2 {
    background: url('../images/portfolio-2.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-3 {
    background: url('../images/portfolio-3.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-4 {
    background: url('../images/portfolio-4.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-5 {
    background: url('../images/portfolio-5.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .slick-dots li button {
    background: none;
    border: 2px solid #e6e6e6;
    height: 0;
    width: 30px;
    margin: 10px 5px;
}
.portfolio-slick .slick-dots .slick-active button {
    border: 2px solid #ffcc00;
}
/**** block-on-map ****/
.block-on-map {
    position: relative;
    text-align: center;
}
.address-window {
    width: 450px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
}
.close-marker {
    font-size: 25px;
    color: #ffcc00;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;
}
.close-marker:hover {
    color: #cda700;
}
.close-marker:active {
    color: #cd0000;
}
.block-on-map .fa {
    color: #ffcc00;
    font-size: 96px;
    margin-bottom: 15px;
}
.block-on-map .title {
    font-size: 36px;
}

/***** footer *****/
.footer {
    padding: 1.5% 0;
    background: #000000;
    text-align: center;
}
.footer-logo {
    display: inline-block;
    width: 288px;
    padding-top: 61px;
    background: url('../images/footer-logo.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
    float: left;
}
.footer .phone-number {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    float: right;
    text-align: left;
    position: relative;
}
.footer .phone-number>.number {
    color: #ffffff;
}
.footer .phone-number .text {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-family: "BlissPro ExtraLight", sans-serif;
}
.footer .phone-number .to-change {
    display: inline-block;
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}
.footer .phone-number .to-change:hover {
    text-decoration: none;
}
.footer-hint {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: transparent url('../images/footer-hint.png') no-repeat;
    background-size: 100% 100%;
    padding: 25px 30px 45px;
}
.footer-hint .number {
    font-family: "BlissPro Bold", sans-serif;
    line-height: 36px;
    color: #000000;
    width: 320px;
}
.footer-hint .number span {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #b2b2b2;
    margin-right: 10px;
}
.footer-hint>span {
    display: block;
    margin-top: 10px;
    width: 320px;
}
.footer .get-callback {
    width: 25%;
    color: #000000;
    vertical-align: middle;
    margin-top: 10px;
    border: none;
    outline: none;
}

/* window-callback */
.mz-window {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51 ,1);
    display: none;
    z-index: 10;
}
.mz-form {
    position: absolute;
    width: 380px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    padding: 30px 0;
    z-index: 10;
    border: 10px solid #ffcc00;
}
.mz-form .form-field {
    border: 2px solid #e6e6e6;
    background: #ffffff;
}
.mz-form .answer {
    display: none;
    padding: 0 30px;
}
.mz-form .answer ul {
    margin-top: 25px;
}
.mz-form .answer ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ffcc00;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    background: #ffcc00;
    text-align: center;
    font-size: 20px;
    line-height: 37px;
}
.mz-form ul li:nth-child(1) a {color: #ffffff;background: #003399;border: 2px solid #003399;}
.mz-form ul li:nth-child(1) a:hover {color: #003399;background: #ffffff;border: 2px solid #003399;}
.mz-form ul li:nth-child(2) a {color: #ffffff;background: #336699;border: 2px solid #336699;}
.mz-form ul li:nth-child(2) a:hover {color: #336699;background: #ffffff;border: 2px solid #336699;}
.mz-form ul li:nth-child(3) a {color: #ffffff;background: #ff7d52;border: 2px solid #ff7d52;}
.mz-form ul li:nth-child(3) a:hover {color: #ff7d52;background: #ffffff;border: 2px solid #ff7d52;}
.mz-form ul li:nth-child(4) a {color: #ffffff;background: #00ccff;border: 2px solid #00ccff;}
.mz-form ul li:nth-child(4) a:hover {color: #00ccff;background: #ffffff;border: 2px solid #00ccff;}
.mz-form .close-marker {
    position: absolute;
    top: -25px;
    right: -75px;
}
.mz-form .question, .mz-answer {
    width: 100%;
}
.mz-form .question .title {
    font-size: 36px;
    line-height: 36px;
}
.mz-form .wave-line {
    width: 100px;
    height: 17px;
    margin: 10px auto 30px;
}
.mz-form .question .sub-title {
    font-size: 18px;
    letter-spacing: 5px;
}
.mz-form .field-wrap {
    height: 50px;
    margin: 0 auto 20px;
}
.field-wrap .fa {
    line-height: 47px;
    top : 0;
}
/*** form-make-order ***/
.form-make-order {
    height: 470px;
}

/*** form-callback ***/
.form-callback {
    height: 470px;
}
.select-wrap {
    display: none;
}
.image-of-select .form-field {
    padding-left: 40px;
    color: rgba(179, 179, 179, 0.7);
    font-size: 16px;
    text-align: left;
}
.icon-arrow-down {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 45px;
    background: url('../images/sprite-arrow-down.png') no-repeat -50% center;
    border-left: 2px solid #e6e6e6;
    cursor: pointer
}
.icon-arrow-down:hover {
    background: url('../images/sprite-arrow-down.png') no-repeat center;
    border-left: 2px solid #e6e6e6;
}
.icon-arrow-down:active {
    background: url('../images/sprite-arrow-down.png') no-repeat 153% center;
    border-left: 2px solid #e6e6e6;
}
.image-of-select ul {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: auto;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-top: none;
    padding: 10px 10px 10px 15px;
    text-align: left;
}
.image-of-select ul li {
    display: block;
    height: 30px;
    color: rgba(179, 179, 179, 0.7);
    cursor: pointer;
    line-height: 30px;
}
.image-of-select ul li:hover {
    color: rgba(2500, 0, 0, 0.5);
}
.image-of-select ul li:active {
    color: rgba(2500, 0, 0, 1);
}
/*** form-discuss ***/
.form-discuss {
    height: 570px;
}
.form-discuss .textarea-wrap {
    height: 150px;
}
.form-discuss textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

/*** media queries ***/
@media (max-width: 1366px) {
    *{
        font-size: 14px;
    }
    .block-site-control .left-column {
        width: 35%;
    }
    .block-price-components .right-column {
        width: 30%;
    }
    .block-site-control .left-column {
        height: 950px;
    }
}
@media (max-width: 1280px) {
    * {
        font-size: 16px;
        line-height: 16px;
    }
    .content-block {
        width: 95%;
    }
    .sub-title {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 8px;
    }
    .title {
        font-size: 42px;
        line-height: 42px;
    }
    .text {
        font-size: 20px;
        line-height: 20px;
    }
    .small-text {
        font-size: 16px;
        line-height: 20px;
    }
    .header .promo-text .text, .header .phone-number .text,
    .header .promo-text a, .header .phone-number a, .footer .phone-number .text,
    .footer .phone-number a {
        font-size: 16px;
    }
    .footer .phone-number {
        width: 315px;
        margin-top: 10px;
    }
    .phone-number .number, .phone-number .number span {
        font-size: 32px;
        line-height: 32px;
    }
    .block-for-whom .column {
        width: 600px;
    }
    .block-price .cost-value {
        width: 340px;
        margin-right: 20px;
    }
    .block-price .cost-value li {
        font-size: 72px;
        line-height: 72px;
    }
    .block-price .cost-currency li {
        margin: 0;
    }
    .block-price .small-text {
        width: auto;
        margin-right: 30px;
    }
    .block-price .send-order, .block-price .another-rates {
        margin-top: 20px;
    }
    .block-site-control .left-column {
        height: 850px;
    }
    .block-site-control .right-column {
        margin-left: 30px;
        width: 650px;
    }
    .block-site-control .ask-question {
        margin-right: 0;
    }
    .block-comments .small-text p {
        line-height: 25px;
    }
    .block-comments ul li .client-name-link {
        margin: 20px 0 10px 0;
    }
    .block-why-we .company-name {
        font-size: 72px;
        line-height: 60px;
    }
    .block-why-we ul li .text {
        line-height: 80px;
    }
    .header-hint {
        top: 60px;
        right: 30px;
    }
}
@media (max-width: 1200px){
    .block-why-we {
        background: #000000;
    }
}
@media (max-width: 1080px) {
    .sub-title {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 5px;
    }
    .title {
        font-size: 38px;
        line-height: 38px;
    }
    .text {
        font-size: 18px;
        line-height: 18px;
    }
    .header .promo-text .text, .footer .phone-number .text,
    .footer .phone-number a {
        font-size: 15px;
    }
    .phone-number, .get-callback, .promo-text {
        width: 315px;
        float: none
    }
    .header .get-callback {
        display: inline-block;
        position: static;
        margin-top: 10px;
    }
    .phone-number .number {
        font-size: 28px;
        line-height: 28px;
    }
    .header .clearfix {
        display: none;
    }
    .block-first .title, .block-first .text {
        width: auto;
    }
    .block-first .title, .block-first .title .underlined {
        font-size: 48px;
        line-height: 42px;
    }
    .block-first .title .underlined .decor-line {
        bottom: -25px;
    }
    .block-first .text {
        font-size: 24px;
        line-height: 24px;
    }
    .block-first .block-timer {
        width: 300px;
    }
    .block-for-whom .column {
        width: 400px;
        margin: 0 auto;
    }
    .form-order {
        width: 300px;
        margin: 0 auto;
    }
    .form-order .title {
        font-size: 24px;
        line-height: 24px;
    }
    .form-order .text {
        font-size: 20px;
        line-height: 20px;
    }
    .block-price .left-column {
        background: #ffcc00 url('../images/background-2.png') no-repeat right center;
        background-size: auto 50%;
        height: 100%;
    }
    .block-price .cost-value {
        width: 290px;
    }
    .block-price .cost-value li {
        font-size: 62px;
        line-height: 62px;
    }
    .block-price .cost-currency li {
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
        margin-right: 10px;
    }
    .block-price-components .right-column, .block-site-control .left-column {
        display: none;
    }
    .block-price-components .left-column, .block-site-control .right-column {
        float: none;
        margin: 0 auto;
    }
    .block-alternatives ul li {
        margin: 25px 15px;
    }
    .block-steps .content-block ul li {
        margin: 20px 10px;
        background: #ffffff;
        vertical-align: top;
    }
    .block-steps ul {
        margin-bottom: 60px;
    }
    .block-steps .triangle {
        background: #ffcc00;
        height: 120px;
    }
    .block-steps .send-order {
        top: 20px;
    }
    .block-comments ul li .client-name-link {
        margin: 20px auto 130px;
        width: auto;
    }
    .block-comments .client-name-link .client-name, .block-comments .client-name-link a {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    .comments-slider {
        margin: 20px auto 10px;
    }
    .portfolio-control {
        display: none;
    }
    .block-why-we {text-align: center;}
    .block-why-we .company-name:after {
        display: none;
    }
    .block-why-we .promo .small-text {
        display: block;
        margin: 25px auto;
    }
    .block-why-we ul li {
        margin: 20px 10px;
    }
    .footer {
        text-align: center;
    }
    .footer-logo, .footer .phone-number {
        float: none;
    }
    .footer .get-callback {
        margin: 10px;
        width: 280px;
    }
    .header-hint {
        top: 55px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
        line-height: 32px;
    }
    .smooth-line {
        display: inline-block;
    }
    .phone-number, .get-callback, .promo-text {
        margin: 10px;
    }
    .header .vertical-line {
        display: none;
    }
    .block-first {text-align: center}
    .block-first .block-text, .block-first .block-timer {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-bottom: 20px;
    }
    .block-for-whom {
        text-align: center;
    }
    .block-for-whom .column {
        width: auto;
        margin-bottom: 30px;
    }
    .block-for-whom .column {
        display: inline-block;
        float: none;
    }
    .block-price {
        height: auto;
    }
    .block-price .left-column {
        display: none;
    }
    .block-price .right-column {
        width: 100%;
        text-align: center;
        padding: 30px 25px;
        margin: 0 auto;
        float: none;
    }
    .block-price .small-text {
        margin-right: 0;
    }
    .block-price .wave-line {
        margin: 20px auto;
    }
    .block-price .send-order .block-price .another-rates {
        margin: 20px 10px;
    }
    .block-price-components .left-column, .block-site-control .right-column {
        width: 460px;
        padding: 30px 0;
    }
    .block-alternatives .text {
        margin-bottom: 0;
        height: 40px;
    }
    .block-alternatives .smooth-line {
        margin: 15px auto;
    }
    .comments-slider-controls {
        margin: 30px 0 40px;
    }
    .comments-slider-controls li {
        margin-top: 10px;
    }
    .portfolio-slick {
        width: 500px;
    }
    .portfolio-item {
        width: 500px;
        padding-top: 500px;
    }
    .block-why-we .promo .small-text {
        width: auto;
    }
}
@media (max-width: 560px) {
    .block-make-order .form-order {
        width: 300px;
        border: 5px solid #ffcc00;
        padding: 10px 0;
    }
    .block-make-order .form-order .title {
        font-size: 28px;
        line-height: 28px;
    }
    .block-make-order .form-order .sub-title {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 3px;
    }
    .block-make-order .form-order .wave-line {
        width: 70px;
        height: 12px;
    }
    .block-make-order .form-order .wave-line {
        margin: 10px auto;
    }
    .block-make-order .field-wrap {
        width: 90%;
        height: 40px;
        margin-bottom: 15px;
    }
    .block-make-order .field-wrap .fa {
        font-size: 16px;
        left: 15px;
        top : 12px;
        line-height: 16px;
    }
    .block-make-order .field-wrap .fa-mobile {
        font-size: 24px;
        left: 15px;
    }
    .block-make-order .form-field {
        padding-left: 5%;
        font-size: 18px;
    }
    .block-make-order .form-field::-webkit-input-placeholder {font-size: 18px;}
    .block-make-order .form-field::-moz-placeholder {font-size: 18px;}
    .block-make-order .form-field:-moz-placeholder {font-size: 18px;}
    .block-make-order .form-field:-ms-input-placeholder {font-size: 18px;}

    .block-make-order .form-submit {
        width: 90%;
        height: 40px;
        line-height: 40px;
    }
    .portfolio-slick {
        width: 400px;
    }
    .portfolio-item {
        width: 400px;
        padding-top: 400px;
    }
}
@media (max-width: 480px) {
    .sub-title {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 3px;
    }
    .title {
        font-size: 28px;
        line-height: 28px;
    }
    .phone-number, .get-callback, .promo-text {
        width: 300px;
        margin: 10px 0;
    }
    .block-first .title, .block-first .title .underlined {
        font-size: 34px;
        line-height: 32px;
    }
    .block-first .title .underlined .decor-line {
        bottom: -25px;
    }
    .block-first .text {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .block-first .title .underlined .decor-line {
        bottom: -18px;
    }
    .block-price .right-column {padding: 30px 5px;}
    .block-price .cost-currency {margin-top: 20px;}
    .block-price .send-order, .block-price .another-rates {
        margin: 20px 0 0 0;
    }
    .block-price-components .left-column, .block-site-control .right-column {
        width: 100%;
        padding: 30px 15px;
    }
    .accordion .element-header {
        padding-right: 40px;
    }
    .block-site-control .icon-opencart {
        margin-bottom: 0;
    }
    .block-get-gift ul li {
        width: 300px;
        margin: 20px auto;
    }
    .block-alternatives ul li {
        width: 300px;
        margin: 25px auto;
    }
    .block-steps .content-block ul li {
        margin: 20px auto;
    }
    .block-comments .small-text p {
        font-size: 14px;
        line-height: 18px;
    }
    .start-quote {
        left: -20px;
        top: -20px;
        width: 40px;
        height: 40px;
    }
    .finish-quote {
        right: -20px;
        bottom: -20px;
        width: 40px;
        height: 40px;
    }
    .portfolio-slick {
        width: 300px;
    }
    .portfolio-item {
        width: 300px;
        padding-top: 300px;
    }
    .address-window {
        width: 300px;
        height: 250px;
    }
    .block-on-map .fa {
        font-size: 48px;
        margin-bottom: 15px;
    }
    .block-on-map .title {
        font-size: 28px;
    }
    .block-on-map .wave-line {
        width: 70px;
        height: 12px;
    }
    .mz-form {
        width: 300px;
    }
    .mz-form .answer .title, .mz-form .question .title {
        font-size: 24px;
        line-height: 24px;
    }
    .footer-hint .number, .header-hint .number {
        width: 280px;
    }
    .footer-hint>span, .header-hint>span {
        width: 280px;
        font-size: 14px;
    }
}
@media (max-width: 380px) {
    .block-first .text {
        font-size: 18px;
        line-height: 18px;
    }
    .footer .phone-number {width: 300px;}
    .mz-form .close-marker {
        top: -40px;
        right: -10px;
        margin: 0;
    }
    .footer .footer-hint, .header .header-hint {right: 0;padding: 30px 15px}
}