@font-face {font-family: "BlissPro ExtraLight";src: url("../fonts/BlissPro-ExtraLight.otf");}
@font-face {font-family: "BlissPro Regular";src: url("../fonts/BlissPro-Regular.otf");}
@font-face {font-family: "BlissPro Bold";src: url("../fonts/BlissPro-Bold.otf");}
@font-face {font-family: "BlissPro ExtraBold";src: url("../fonts/BlissPro-ExtraBold.otf");}
@font-face {font-family: "BlissPro Heavy";src: url("../fonts/BlissPro-Heavy.otf");}
@font-face {font-family: "BlissPro Italic";src: url("../fonts/BlissPro-Italic.otf");}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "BlissPro Regular", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}
a, a:hover, a:focus, a:active {
    outline: none;
}
button, button::-moz-focus-inner, input, input::-moz-focus-inner {
    border: none;
}
button, input[type="submit"] {
    cursor: pointer;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
input::-webkit-input-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input::-moz-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:-moz-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:-ms-input-placeholder {font-family: "BlissPro Regular", sans-serif;color: #b3b3b3;font-size: 16px;}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent}

ul li {
    display: inline-block;
    vertical-align: middle;
}

.clearfix {
    clear: both;
}

body {
    width: 100%;
    background: #ffffff;
}

.content-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.sub-title {
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    color: #b2b2b2;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    display: block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.text {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 24px;
    color: #000000;
}

.small-text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    color: #808080;
    text-align: justify;
}

.smooth-line {
    width: 130px;
    border: 4px solid #ffcc00;
    margin: 20px auto;
}
.wave-line {
    width: 130px;
    height: 23px;
    background: transparent url('../images/sprite-wave-line.png') no-repeat left;
    background-size: cover;
    margin: 20px auto;
}

/***** header ******/
.header .content-block {
    position: relative;
    padding: 1.5% 0;
}
.header-logo {
    display: inline-block;
    width: 288px;
    padding-top: 61px;
    background: url('../images/header-logo.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.header .vertical-line {
    display: inline-block;
    height: 70px;
    border-left: 1px solid #dddddd;
    vertical-align: middle;
    margin: 0 1.5%;
}
.header .promo-text {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
}
.header .promo-text .text, .header .phone-number .text {
    display: inline-block;
    font-family: "BlissPro ExtraLight", sans-serif;
    font-size: 18px;
    width: auto;
}
.header .promo-text a, .header .phone-number a {
    font-family: "BlissPro ExtraLight", sans-serif;
    font-size: 18px;
}
.header .phone-number {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    float: right;
}
.header .phone-number .number {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 36px;
    line-height: 42px;
}
.get-callback {
    width: 30%;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffff00;
    background: linear-gradient(to bottom, #ffff00, #ffcd00);
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);
}
.header .get-callback {
    position: absolute;
    right: 0;
    bottom: -22px;
}
.get-callback:hover {
    background: #ffcc00;
    background: linear-gradient(to bottom, #ffcc00, #fffd00);
}
.get-callback:active {
    background: #ffcc00;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

/***** block-timer ******/
.block-first {
    background: url('../images/background-1.png') no-repeat;
    background-size: cover;
    padding: 5% 0;
}
.block-first .block-text {
    float: left;
}
.block-first .title, .block-first .text {
    width: 550px;
    color: #ffffff;
}
.block-first .title {
    font-size: 62px;
    line-height: 42px;
    margin-bottom: 40px;
}
.block-first .title .underlined {
    display: inline-block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 62px;
    line-height: 48px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.block-first .title .underlined .decor-line {
    position: absolute;
    width: 100%;
    padding-top: 10%;
    background: url('../images/decor-line.png') no-repeat;
    background-size: cover;
    left: 0;
    bottom: -34px;
}
.block-first .text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 32px;
    line-height: 32px;
}
.block-first .block-timer {
    width: 320px;
    float: right;
    text-align: center;
    padding: 1% 0;
    background: rgba(255, 255, 255, 0.2);
}
.block-first .block-timer .title {
    display: inline-block;
    width: auto;
    font-family: "BlissPro ExtraBold", sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
.block-first .timer {
    font-family: "BlissPro Regular", sans-serif;
    margin-bottom: 3%;
}
.block-first .timer .etTitle {
    display: none;
}
.block-first .block-timer .timer .etNumber,
.block-first .block-timer .timer .etSign {
    font-family: "BlissPro Regular", sans-serif;
}
.block-first .to-run {
    display: inline-block;
    width: 90%;
    background: #cc3300;
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    margin: 0 0 15px 0;
}
.block-first .to-run:hover {
    background: #b52e00;
}
.block-first .to-run:active {
    background: #990000;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

/***** block-for-whom ******/
.block-for-whom {
    padding: 5% 0;
}
.block-for-whom .smooth-line, .block-price-components .smooth-line,
.block-price .wave-line, .block-site-control .smooth-line {
    margin-left: 0;
}
.block-for-whom .column {
    width: 680px;
    float: left;
    margin-top: 5%;
}
.block-for-whom .small-text {
    margin: 3% 0;
}
.block-for-whom ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ffcc00;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    background: #ffcc00;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.block-for-whom ul {}
.block-for-whom ul li a:hover {
    color: #ffcc00;
    background: #ffffff;
}
.block-for-whom ul li:nth-child(1) a:active {color: #ffffff;background: #003399;border: 2px solid #003399;}
.block-for-whom ul li:nth-child(2) a:active {color: #ffffff;background: #336699;border: 2px solid #336699;}
.block-for-whom ul li:nth-child(3) a:active {color: #ffffff;background: #ff7d52;border: 2px solid #ff7d52;}
.block-for-whom ul li:nth-child(4) a:active {color: #ffffff;background: #00ccff;border: 2px solid #00ccff;}

.form-order {
    width: 320px;
    float: right;
    border: 8px solid #ffcc00;
    padding: 20px 0 20px 20px;
}
.form-order .title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
}
.form-order .text {
    font-family: "BlissPro Regular", sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
}
.form-order label {
    display: inline-block;
    position: relative;
    width: 265px;
    height: 45px;
    margin-bottom: 15px;
}
.form-order label .fa {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top : 10px;
    color: #b3b3b3;
}
.form-order label .fa-mobile {
    font-size: 25px;
}
.form-order input[type="text"] {
    display: block;
    width: 265px;
    height: 45px;
    line-height: 40px;
    padding-left: 10px;
    background: #f7f7f7;
    border-left: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
}
.form-order input[type="submit"] {
    display: block;
    margin-bottom: 15px;
    width: 265px;
    background: #cc3300;
    -webkit-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
}
.form-order input[type="submit"]:hover {
    background: #b52e00;
}
.form-order input[type="submit"]:active {
    background: #990000;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}
.form-order .small-text, .form-order a {
    display: inline-block;
    width: auto;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
}
.form-order a {
    margin-left: 15px;
}

/***** block-price *****/
.block-price {
    height: 600px;
}
.block-price .left-column {
    float: left;
    width: 40%;
    background: #ffcc00 url('../images/background-2.png') no-repeat right center;
    background-size: auto 75%;
    height: 100%;
}
.block-price .right-column {
    float: right;
    width: 60%;
    background: #333333;
    height: 100%;
    padding: 5% 0 0 2.5%;
}
.block-price ul {display: inline-block;vertical-align: bottom;}
.block-price .cost-value {
    width: 550px;
}
.block-price .cost-value li {
    display: none;
    font-family: "BlissPro Bold", sans-serif;
    color: #ffffff;
    font-size: 108px;
    line-height: 108px;
}
.block-price .cost-value .active {
    display: inline-block;
}
.block-price .cost-currency li {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #ffcc00;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
.block-price .icon-hrivna {
    width: 100%;
    height: 100%;
    background: transparent url('../images/UAH.png') no-repeat center;
    background-size: auto 70%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.block-price .cost-currency li:hover {
    background: #c39400;
}
.block-price .cost-currency li:active {
    background: #af7f00;
}
.block-price .cost-currency .active {
    display: none;
}
.block-price .small-text {
    width: 600px;
    color: #ffffff;
    margin-bottom: 20px;
}
.send-order, .another-rates, .show-demo {
    background: #cc3300;
    margin-right: 20px;
    width: 275px;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
}
.send-order:hover, .show-demo:hover {
    background: #b52e00;
}
.send-order:active, .show-demo:active {
    background: #669933;
}
.another-rates {
    background: transparent;
    border: 3px solid #ffcc00;
    line-height: 54px;
}
.another-rates:hover {
    border-radius: 30px;
}
.another-rates:active {
    border: 3px solid #ffcc00;
    background: #ffcc00;
}

/**** block-price-components ****/
.block-price-components .left-column {
    float: right;
    width: 700px;
    height: 100%;
    padding: 5% 2.5% 0  0;
}
.block-price-components .title {
    margin: 20px 0 15px;
}
.block-price-components ul {
    margin-top: 20px;
}
.accordion li {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    cursor: pointer;
}
.accordion li:first-child .element-content {
    display: block;
}
.accordion .element-header {
    margin-top: 20px;
}
.accordion .element-content {
    display: none;
    margin-top: 10px;
}
.accordion .mark {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 26px;
    height: 15px;
    background: transparent url('../images/sprite-arrows-v.png') no-repeat right;
    background-size: cover;
}
.accordion .active .mark {
    background: transparent url('../images/sprite-arrows-v.png') no-repeat left;
    background-size: cover;
}
.ask-question {
    background: transparent;
    border: 3px solid #ffcc00;
    width: 275px;
    height: 60px;
    line-height: 54px;
    color: #000000;
    margin-top: 30px;
    vertical-align: middle;
    margin-bottom: 30px;
}
.ask-question:hover {
    border: 3px solid #ffcc00;
    border-radius: 30px;
}
.ask-question:active {
    border: 3px solid #ffcc00;
    background: #ffcc00;
}

.block-price-components .right-column {
    float: right;
    width: 40%;
    height: 950px;
    background: transparent url('../images/background-3.png') no-repeat left bottom;
    background-size: auto 80%;
}

/***** block-site-control *******/
.block-site-control {
    background: #1a1a1a;
}
.block-site-control .left-column {
    float: left;
    width: 40%;
    height: 1100px;
    background: transparent url('../images/background-4.png') no-repeat right center;
    background-size: auto 75%;
}
.block-site-control .right-column {
    float: left;
    width: 720px;
    padding: 5% 2.5% 0  0;
    margin-left: 5%;
}
.block-site-control .title, .block-site-control .text, .block-site-control .small-text {
    color: #ffffff;
}
.block-site-control ul li:first-child .element-content {
    display: none;
}
.block-site-control .show-demo, .block-site-control .ask-question {
    margin: 30px 20px 0 0;
    color: #ffffff;
}
.block-site-control .icon-opencart {
    display: inline-block;
    width: 200px;
    height: 37px;
    background: transparent url('../images/opencart-logo.png') no-repeat;
    background-size: cover;
    margin-top: 15px;
    vertical-align: top;
    margin-bottom: 30px;
}
.block-site-control .right-column>.text{
    display: inline-block;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    vertical-align: top;
    line-height: 37px;
    margin-top: 15px;
}
.block-site-control .right-column>.text a {
    font-size: 18px;
    color: #336699;
}

/**** block-get-gift *****/
.block-get-gift {
    text-align: center;
    padding: 5% 0;
}
.block-get-gift .wave-line {
    margin: 20px auto;
}
.block-get-gift ul {
    margin-top: 7.5%;
}
.block-get-gift ul li {
    width: 330px;
    vertical-align: top;
    margin: 30px 25px;
}
.block-get-gift .icon-gift {
    width: 150px;
    height: 130px;
    margin: auto;
    background: transparent url('../images/sprite-icons.png') no-repeat 37.5% 0;
    background-size: cover;
}
.block-get-gift ul li:nth-child(2) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 62.7% 0;background-size: cover;}
.block-get-gift ul li:nth-child(3) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 87.3% 0;background-size: cover;}
.block-get-gift ul li:nth-child(4) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 49.8% 0;background-size: cover;}
.block-get-gift ul li:nth-child(5) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat 75.05% 0;background-size: cover;}
.block-get-gift ul li:nth-child(6) .icon-gift {background: transparent url('../images/sprite-icons.png') no-repeat right;background-size: cover;}
.block-get-gift .smooth-line {
    margin: 30px auto 15px;
    width: 70px;
}
.block-get-gift .text {
    height: 50px;
}
.block-get-gift .small-text {
    text-align: left;
}

/***** block-make-order ****/
.block-make-order {
    padding: 5% 0;
    background: #000000 linear-gradient(white 90%, transparent 10%);
    background-size: 20px 20px;
}
.block-make-order .form-order {
    float: none;
    background: #ffffff;
    width: 540px;
    text-align: center;
    margin: 0 auto;
    border: 20px solid #ffcc00;
    padding: 30px 0;
}
.block-make-order .form-order .title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.block-make-order .form-order .wave-line {
    margin: 25px auto;
}
.block-make-order .form-order label {
    width: 80%;
    height: 60px;
    margin-bottom: 25px;
}
.block-make-order .form-order label .fa {
    font-size: 28px;
    left: 25px;
    top : 14px;
}
.block-make-order .form-order label .fa-mobile {
    font-size: 36px;
    left: 30px;
}
.block-make-order .form-order input[type="text"] {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding-left: 10%;
    background: #f7f7f7;
    border-left: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    font-size: 20px;
}
.block-make-order .form-order input::-webkit-input-placeholder {font-size: 20px;}
.block-make-order .form-order input::-moz-placeholder {font-size: 20px;}
.block-make-order .form-order input:-moz-placeholder {font-size: 20px;}
.block-make-order .form-order input:-ms-input-placeholder {font-size: 20px;}

.block-make-order .form-order input[type="submit"] {
    margin: 0 auto 25px;
    width: 80%;
    height: 60px;
}

/***** block-alternatives *****/
.block-alternatives {
    padding: 5% 0;
    text-align: center;
}
.block-alternatives ul {
    margin-top: 7.5%;
}
.block-alternatives ul li {
    width: 330px;
    vertical-align: top;
    margin: 30px 25px;
}
.block-alternatives .icon-alternatives {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: auto;
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat -1.75% center;
    background-size: auto 60%;
}
.block-alternatives ul li:nth-child(2) .icon-alternatives {
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat 11% center;
    background-size: auto 60%;
}
.block-alternatives ul li:nth-child(3) .icon-alternatives {
    background: #ffcc00 url('../images/sprite-icons.png') no-repeat 24% center;
    background-size: auto 60%;
}
.block-alternatives .smooth-line {
    margin: 30px auto;
    width: 70px;
}
.block-alternatives .text {
    height: 50px;
    margin: 25px 0 35px;
}
.block-alternatives .small-text p {
    height: 250px;
    overflow: hidden;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 18px;
    color: #808080;
    text-align: justify;
}
.icon-show-more {
    width: 32px;
    height: 30px;
    background: transparent url('../images/sprite-arrows-circle.png') no-repeat left center;
    background-size: cover;
    cursor: pointer;
    margin: 30px auto 0;
}
.opened-block {
    background: transparent url('../images/sprite-arrows-circle.png') no-repeat right center;
    background-size: cover;
}

/***** block-steps ******/
.block-steps {
    background: #ffcc00;
    text-align: center;
    padding: 5% 0 0;
}
.block-steps .sub-title {
    color: #ffffff;
}
.block-steps .content-block>.wave-line {
    background: transparent url('../images/sprite-wave-line.png') no-repeat right;
    background-size: cover;
}
.block-steps ul {
    margin-top: 5%;
}
.block-steps ul li {
    display: inline-block;
    width: 300px;
    margin: 0 10px 20px;
    background: #ffffff;
    vertical-align: top;
}
.block-steps ul li:nth-child(2) {margin-top: 100px;}
.block-steps ul li:nth-child(3) {margin-top: 200px;}
.block-steps ul li:nth-child(4) {margin-top: -200px;}
.block-steps ul li:nth-child(5) {margin-top: -100px;}
.block-steps .step-number {
    font-family: "BlissPro Heavy", sans-serif;
    font-size: 184px;
    line-height: 184px;
}
.block-steps .text {
    display: inline-block;
    width: 80%;
    height: 50px;
}
.block-steps .small-text {
    display: inline-block;
    width: 80%;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.block-steps .triangle {
    position: relative;
    width: 100%;
    height: 400px;
    background: #ffcc00 linear-gradient(11deg, #ffffff 0, #ffffff 50%, transparent 50%, transparent 100%);
}
.block-steps .send-order {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    bottom: 170px;
    margin: auto;
}

/***** block-comments ******/
.block-comments {
    padding: 5% 0;
    text-align: center;
}
.comments-slider {
    display: block;
    width: 80%;
    margin: 80px auto 10px;
    list-style: none;
}
.comments-slide {
    display: none;
}
.comments-slide:first-child {
    display: block;
}
.comments-slider-controls {
    display: inline-block;
    margin-top: 15px;
}
.comments-slider-controls li {
    width: 50px;
    height: 50px;
    border: 2px solid #e5e5e5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    cursor: pointer;
    text-align: left;
}
.comments-slider-controls .active {
    border: 2px solid #ffcc00;
}
.comments-slider-controls li:hover {
    border: 2px solid #ffcc00;
}
.comments-slider-controls li:active {
    border: 2px solid #ffcc00;
    background: #ffcc00;
}
.block-comments ul li .client-name-link {
    display: block;
    width: 300px;
    margin: 50px 0 10px 50px;
}
.block-comments .client-name-link .client-name, .block-comments .client-name-link a {
    display: block;
    text-align: right;
}
.block-comments .small-text {
    border: 4px solid #e5e5e5;
    padding: 60px 40px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
}
.block-comments .small-text p {
    font-family: "BlissPro Italic", sans-serif;
    font-size: 18px;
    overflow: hidden;
    height: 250px;
}
.block-comments ul li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    border: 20px solid #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -120px;
}
.start-quote {
    position: absolute;
    left: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    background: #ffffff url('../images/sprite-2.png') no-repeat left center;
    background-size: auto 80%;
}
.finish-quote {
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background: #ffffff url('../images/sprite-2.png') no-repeat right center;
    background-size: auto 80%;
}

/***** block-why-we *****/
.block-why-we {
    background: #000000;
    padding: 5% 0;
}
.block-why-we .company-name {
    display: inline-block;
    font-family: "BlissPro Bold", sans-serif;
    font-size: 103px;
    color: #ffffff;
    line-height: 75px;
    vertical-align: top;
}
.block-why-we .promo .small-text {
    display: inline-block;
    width: 600px;
    margin: 10px 0 25px 20px;
    color: #cccccc;
}
.block-why-we ul {
    text-align: center;
}
.block-why-we ul li {
    width: 260px;
    margin: 0 10px;
    text-align: left;
    vertical-align: top;
}
.block-why-we ul li .text {
    color: #ffffff;
    font-family: "BlissPro Regular", sans-serif;
    font-size: 80px;
}
.block-why-we ul li .small-text {
    color: #ffffff;
    width: 90%;
    text-align: left;
}
.block-why-we ul li .smooth-line {
    display: block;
    margin: 20px 0;
    width: 100px;
}
/**** block-portfolio ****/
.block-portfolio {
    padding: 5% 0;
    text-align: center;
}
.block-portfolio .content-block {
    position: relative;
}
.portfolio-slick {
    display: block;
    width: 600px;
    margin: 0 auto;
}
.portfolio-item {
    width: 600px;
    padding-top: 600px;
    margin: auto;
}
.portfolio-control {
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.portfolio-control:hover {
    border: 2px solid #ffcc00;
}
.left-control:active {
    border: 2px solid #ffcc00;
    background: #ffcc00 url('../images/sprite-arrows-black.png') no-repeat 15px center;
    background-size: auto 50%;
}
.right-control:active {
    border: 2px solid #ffcc00;
    background: #ffcc00 url('../images/sprite-arrows-black.png') no-repeat -20px center;
    background-size: auto 50%;
}
.left-control {
    background: url('../images/sprite-arrows-yellow.png') no-repeat 15px center;
    background-size: auto 50%;
    left: 100px;
}
.right-control {
    background: url('../images/sprite-arrows-yellow.png') no-repeat -20px center;
    background-size: auto 50%;
    right: 100px;
}
.portfolio-slick .item-1 {
    background: url('../images/portfolio-1.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-2 {
    background: url('../images/portfolio-2.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-3 {
    background: url('../images/portfolio-3.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-4 {
    background: url('../images/portfolio-4.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .item-5 {
    background: url('../images/portfolio-5.png') no-repeat;
    background-size: contain;
}
.portfolio-slick .slick-dots li button {
    background: none;
    border: 2px solid #e6e6e6;
    height: 0;
    width: 30px;
    margin: 10px 5px;
}
.portfolio-slick .slick-dots .slick-active button {
    border: 2px solid #ffcc00;
}
/**** block-on-map ****/
.block-on-map {
    position: relative;
    text-align: center;
}
.address-window {
    width: 450px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
}
.close-marker {
    font-size: 25px;
    color: #ffcc00;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;
}
.close-marker:active {
    color: #990000;
}
.block-on-map .fa {
    color: #ffcc00;
    font-size: 96px;
    margin-bottom: 15px;
}
.block-on-map .title {
    font-size: 36px;
}

/***** footer *****/
.footer {
    padding: 1.5% 0;
    background: #000000;
    text-align: center;
}
.footer-logo {
    display: inline-block;
    width: 288px;
    padding-top: 61px;
    background: url('../images/footer-logo.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
    float: left;
}
.footer .phone-number {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    float: right;
    text-align: left;
}
.footer .phone-number .number {
    font-family: "BlissPro Bold", sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}
.footer .phone-number .text {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-family: "BlissPro ExtraLight", sans-serif;
}
.footer .phone-number a {
    display: inline-block;
}
.footer .get-callback {
    width: 25%;
    color: #000000;
    vertical-align: middle;
    margin-top: 10px;
}